.resumePage{
    position: relative;
    z-index: 550;
    height: 100%;
    overflow: hidden;
}
.resumePage>aside{
    padding: 20px;
    background-color: rgba(250, 250, 250,.6);
    position: relative;
   
}
.printBtn{
    font-size: clamp(1rem,2vw,1.5rem);
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.skills {
    padding: 0;
    
}
.skills2 {
    padding: 0;
    height: 75%;
    
}
.skills2 img{
    padding: 0;
    max-height: 75px;
    
}
.skills>li {
    font-family: monospace;
    font-size: clamp(.75rem,4vw,1.5rem);
    color: navy;
}
.resume {
    overflow: auto;
    height: 100%;
}
iframe {
    border: thick solid red;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 660;
}
/* .react-pdf__Page__textContent, .annotationLayer{
    background-color: gold;
    display: none;
} */
.react-pdf__Page__canvas {
width: 100%!important;;
max-width:10in!important;
height: auto !important;
}
@media print {
    aside,nav,footer,header {
        display: none !important;
    }
}