* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  height: 160px;
}
li {
  list-style: none;
  font-size: 1.5rem;
  font-family:cursive;
  color: navy;
}
a {
  text-decoration: none;
}
nav {
  background-color:transparent;
  padding: 0;
  margin: 0;
}
.navbar {
  background-color: rgba(63,54,5,.5);
  padding: 10px 10%;
  margin: 0;
}

main{
  position: relative;
  flex: 1;
  margin: 0;
  padding: 0;
  background-color: #3f3605;
  overflow: hidden;
}
.fillerDiv{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 500;
}
.img1 {
    width: clamp(3rem,8vw,6rem);
    position: absolute;
    top: -25%;
    z-index: 1;
    opacity: 1;
    transition: all 2s;
}
.footerText {
  font-size: clamp(.65rem,2vw,1.25rem);
  text-align: left;
}
@keyframes img0Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img1Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img2Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img3Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img5Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img6Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img7Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img4Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img8Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img9Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img10Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img11Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img12Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img13Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img14Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img15Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img16Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img17Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img18Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img19Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img20Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img21Floater {0%{top: -30%;}100% {top: 100%;}}
@keyframes img22Floater {0%{top: -30%;}100% {top: 100%;}}
footer{
  height:50px;
  padding: 10px;
  background-color: rgba(63,54,5,.5);
}
.fa-linkedin {
  color: #0072b1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
