* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  height: 160px;
}
li {
  list-style: none;
  font-size: 1.5rem;
  font-family:cursive;
  color: navy;
}
a {
  text-decoration: none;
}
nav {
  background-color:transparent;
  padding: 0;
  margin: 0;
}
.navbar {
  background-color: rgba(63,54,5,.5);
  padding: 10px 10%;
  margin: 0;
}

main{
  flex: 1;
  margin: 0;
  padding: 0;
  background-color: #3f3605;
}
footer{
  height:50px;
  padding: 10px;
  background-color: rgba(63,54,5,.5);
}
.fa-linkedin {
  color: #0072b1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
