.home {
    background-image: url("../images/self2.png");
    background-size: 45%;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
    position: relative;
}
.img1 {
    width: clamp(3rem,8vw,6rem);
    position: absolute;
    top: -25%;
    z-index: 1;
}


