.contactPage{
    height: 100%; 
    position: relative;
    z-index: 700;
    padding: 30px !important;
    color: goldenrod;
    overflow: auto;
}
.contactPage>h1{
    font-family: cursive;
    font-size: 3rem;
}
.title {
    padding: 20px 0;
    font-family: fantasy;
    font-weight: bolder;
}
.contactAside {
    background-color: rgba(0,0,128,.4);
    background-color: antiquewhite;
    color: darkgoldenrod;
    padding: 0 30px;
    border-radius: 3%;
}
.contactAside>blockquote {
    font-size: 1.5rem;
    padding: 10px;
    
}
.contactForm{
    position: relative;
    z-index: 650;
    border: thin solid navy;
    border-radius: 3%;
}
.contactForm button {
    background-color: rgba(0,0,128,.4);
    color: goldenrod;
}
.contactForm button:hover {
    background-color: goldenrod;
    color: rgb(0,0,128);
}
.contactMain {
    
    height: 100%;
}
.contactForm {
    font-size: 1.5rem;
}