.header {
    background-image: url("../images/3DLight.jpg");
    background-size: 105% 105%;
    background-repeat: no-repeat;
    background-position:center;
    padding: 20px 10px 10px 10px;
    text-align: center;
    font-family: Fantasy;
    color: navy;
}
.header h1 {
    font-weight: bolder;
    font-size: 4rem;
    padding-top: 15px; /*to compensate for font overflow */
}
.header h2{
    font-weight: bolder;
}
