.header {
    min-height: 20%;
    background-size: 105% 105%;
    background-repeat: no-repeat;
    background-position:center;
    padding: 20px 10px 10px 10px;
    text-align: center;
    font-family: Fantasy;
    
}
.header h1 {
    font-weight: bolder;
    font-size: clamp(2rem,6vw,4rem);
    padding-top: 15px; /*to compensate for font overflow */
    text-shadow: 1px 1px 2px darkgoldenrod, 0 0 1rem white, 0 0 2rem beige;
}
.conicHeader{
    animation: 3s ease-in .5s infinite conicHeader;
}
.header h2{
    font-size: clamp(1rem,4vw,2.5rem);
    font-weight: bolder;
    animation: 5s ease-in .5s infinite conicHeader;
}
@keyframes conicHeader{
    0%{
        color: #b3d0fa;
    }
    35% {
        color: rgb(116, 57, 138);
    }
    65% {
        color: gold;
    }
    100% {
        color: #b3d0fa;
    }
}
